<div class="eventhead">
  {{> meetupHeader }}

  <!-- if event calls is past show speakers, otherwise show submission -->
  <div class="event">
    <p>{{{ description }}}</p>
    {{#ifDate calls.0.date_end "past"}}
      <ul>
        {{#each calls.0.submissions}}
        <li class="speaker">
          <img src='{{#gravatar email size="64"}}{{/gravatar}}'>
          <div class="title">{{ title }}</div><div class="presented">Presented by {{ name }}</div>
        </li>
        {{/each }}
      </ul>
    {{else}}
      <div class="submission">
        {{> form}}
      </div>
    {{/ifDate}}
  </div>
  
  <!-- if event is in future show registration -->
  {{#ifDate date_start "future"}}
    <div class="registration">
      {{> registration }}
    </div>
  {{/ifDate}}


</div>
