.header-container
  header.wrapper.clearfix
    h1.title 
      a(href="/") BOSTON.JS
    nav
      ul
        li
          a(href="/events") Past Events
        li
          a(href="http://www.meetup.com/boston_JS/", target="_blank") meetup.com
