.header-container
  header.wrapper
    a(href="/") <img src="img/logo-skyline.png">
    nav
      a(href="/events") Past Events
      a(href="http://www.meetup.com/boston_JS/", target="_blank") meetup.com
