<div class="rsvp">
  <h2>The British Are Coming!<br>Are You?</h2>
  <a href="#" class="call">RSVP $5</a>
  <p>
    All proceeds go to: 
    <a href="http://scienceclubforgirls.org/" target="blank"><img src="/img/scfg.jpg" alt="Science Club for Girls Logo"></a>
  </p>
  <div class="paul"></div>
</div>
