<div class="sponsors">
  <h2 class="sponsor-hed">Sponsors</h2>

  <div class="logos">
    <img src="img/bocoup.png" alt="Bocoup logo">
  </div>
  <small class="sponsor-call">Interested in <a href="#">sponsoring an event</a>?</small>
</div>
