---
# deploy production machine for live use

- hosts:
    - production
  remote_user: ubuntu
  sudo: yes
  roles:
    - base
    - configure
    - nginx
    - startup
  handlers:
    - include: handlers/handlers.yml
