extends layout

block append content
  h1 INDEX PAGE
  ul
    for event in events
      li
        a(href=event.event_url)= event.name


  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script.
   window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.j<\/script>

  script(type='text/javascript' src="/js/main.js")
