@-webkit-keyframes sailin {
  0%   { background-position: left 0 bottom 5% }
  100% { background-position: left 9999px bottom 5% }
}
@keyframes sailin {
  0%   { background-position: left 0 bottom 5% }
  100% { background-position: left 9999px bottom 5% }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Klinik, serif;
  overflow-x: hidden;
}
a { 
  color: #00A3DA;
  text-decoration: none;
  -webkit-transition: background .025s ease-in-out, color .025s ease-in-out;
  -moz-transition: background .025s ease-in-out, color .025s ease-in-out;
  transition: background .025s ease-in-out, color .025s ease-in-out;
}
p {
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}
.wrap {
    margin: 0 auto;
    max-width: 60em;
}
.a11y-hide {
  color: transparent;
  display: block;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
img {
  max-width: 100%;
}

.sitehead {
  background: #fae06e;
  padding-bottom: 4%;
}
.logo {
  background: url(../img/charles.png) left -20% bottom 5% repeat-x;
  background-size: 90% auto;
  padding: 5% 5% 6.5% 5%;
  position: relative;
  margin: 0 0 1em 0;
  -webkit-animation: sailin 2000s linear infinite;
  animation: sailin 2000s linear infinite;
}
.logo:before,
.logo:after {
  content: "";
  display: block;
  width: 4%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.logo:before {
  background: -webkit-linear-gradient( 90deg, #fae06e, rgba(255,255,255,0));
  background: linear-gradient( 90deg, #fae06e, rgba(255,255,255,0));
  left: 0;
}
.logo:after {
  background: -webkit-linear-gradient( -90deg, #fae06e, rgba(255,255,255,0));
  background: linear-gradient( -90deg, #fae06e, rgba(255,255,255,0));

  right: 0;
}
.primary {
  border-bottom: 4px solid #3b3b3b;
  margin: 0 2.5% 1px 2.5%; /* 1px fixes a Chrome rounding error */
  text-align: center;
  width: 95%;
}
.primary:after {
  clear: both;
  content: "";
  display: block;
}
.primary a {
  border: solid #3b3b3b;
  border-width: 4px 4px 0px 4px;
  color: #3b3b3b;
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
  float: left;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 50%;
}
.primary a:nth-child(odd) {
  border-right-width: 0;
  clear: left;
}
@media ( min-width: 40em ) {
  .primary {
    border: none;
    float: none;
  }
  .primary a,
  .primary a:nth-child(odd) {
    border-width: 4px;
    float: none;
    width: auto;
    margin: 0 .5em;
    min-width: 1px;
    padding: .5em 4.5em .45em 4.5em;
  }
}
.primary a:hover {
  background: #3b3b3b;
  color: #fae06e;
}


.sitehead img {
  display: block;
  margin: 0 auto;
}

.eventhead {
  margin-bottom: 2em;
}

.event {
  margin-top: 1em;
  font-family: Klinik, serif;
  font-size: 2.5em;
  margin-bottom: 0;
}
.event .meta {
  font-family: Open Sans, sans-serif;
  font-size: .45em;
  display: block;
  margin-bottom: -.4em;
}
.event .num {
  background: #ffeb94;
  display: inline-block;
  font-family: Klinik, serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 .1em; 
}

.speaker {
  margin-top: 0;
  font-size: .8em;
}

.sponsors {
  margin-top: 4em;
}
.sponsor-hed {
  background: #ffeb94;
  display: inline-block;
  margin-left: -10em;
  padding: .3em .75em .25em 10em;
}
.logos {
  clear: both;
  text-align: center;
  margin: 1em 0 3em 0;
}
.logos img {
  display: inline-block;
  max-width: 450px;
}
.sponsor-call {
  display: block;
  font-family: Open Sans, sans-serif;
  text-align: center;
}

.coc {
  background: #eee;
  padding: 1em 0;
  margin-top: 1em;
}
.coc p {
  line-height: 1.4;
  margin: 1.5em auto 1.4em auto;
  max-width: 350px;
  text-align: center;
  width: 90%;
}

.foot {
  background: #3b3b3b;
  margin: 0;
  padding: .85em 0 .75em 0;
}
.foot p {
  color: #ddd;
  display: block;
  font-size: .8em;
  margin: 0;
}

.past-events {
  clear: both;
  margin: 3em 0 5em 0;
}

.past-events .meta {
  padding-bottom: .75em;
}

.past-events .event {
  font-size: 2em;
  margin-bottom: .15em;
  line-height: 1;
}