/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    padding: 0.2em 0;
}

img {
    max-width: 100%;
}

body {
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
}

a {
   color: #00A3DA;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    word-wrap: break-word;
}

h1, h2, h3, .header-container {
    font-family: 'Kreon', serif;
}

h3 {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    padding: 1em;
}

.header-container {
    background: #fae06e;
    text-align: center;
}

.header-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3B3B3B; 
}

.logo {
    display: block;
    margin: 0 0 .3em;
    line-height: 1em;
    font-size: 3em;
    font-weight: 100;
}

.logo-skyline {
    display: none;
}

.logo span {
    font-weight: bold;
}

nav {
    overflow: auto;
}

nav a {
    width: 100%;
    margin-bottom: 1em;
    padding: .5em 0;
    border: 3px solid;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
}

nav a:hover {
    background: #3B3B3B;
    color: #fae06e;
    border-color: #3B3B3B;
}

.ie7 .title {
    padding-top: 20px;
}

.footer-container {
    overflow: auto;
    text-align: center;
    background: #3B3B3B;
    color: white;
}

@media only screen and (min-width: 500px) { 

    nav a {
        width: 47%;
        display: inline-block;
        margin: 0 1.5% 1em;
    }

    .logo {
        display: none;
    }

    .logo-skyline {
        display: block;
        margin-bottom: 1em;
    }

}

@media only screen and (min-width: 600px) { 

    .logo-skyline, nav a {
        margin-bottom: 2em;
    }

    .header-container {
        padding-top: 2em;
    }

    .main-container {
        margin: 2em 0;
    }

}

@media only screen and (min-width: 850px) { 

    nav a {
        width: 35%; 
        border: 4px solid;
        font-size: 1.1em;
    }

}


