<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boston JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="fonts" content="css/fonts.css">

    <link rel="stylesheet" href="css/all.css">

    <script src="js/initial.js" id="initialjs"></script>

    <meta name="description" content="Boston.JS">

    <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon">
  </head>
  <body>
    {{> header }}
    <div class="main-container">
      <div class="main wrapper clearfix">
        <div class="wrap">
          {{> body }}
        </div>

        {{> coc }}
    </div>
    {{> footer }}
  </body>
</html>
