<div class="footer-container">
  <footer class="wrapper">
    <p>
      BostonjS 2014 – Brought to you by
      <a href="http://www.bocoup.com" target="_blank">Bocoup.com</a>
    </p>
  </footer>
</div>
