<div class="header-container">
  <header class="wrapper">
    <a href="/">Boston<span>JS</span></a>
    <a href="/" class="logo-skyline">
      <img src="img/logo-skyline.png">
    </a>
    <nav>
      <a href="/events">Past Events</a>
      <a href="http://www.meetup.com/boston_JS/" target="_blank">meetup.com</a>
    </nav>
  </header>
</div>
