# All project build tasks go here. These tasks will only be run for the
# specified commit if the commit hasn't been deployed before or if "force"
# is true.

- name: install npm modules
  npm: path="{{clone_path}}"

- name: copy KEY file into place
  shell: mkdir -p {{clone_path}}/app/data && cp {{base_path}}/KEY {{clone_path}}/app/data/KEY

- name: build production version
  shell: npm run build
  args:
    chdir: "{{clone_path}}"
