.coc
  p
    | Boston JS expects all attendees, sponsors, speakers, volunteers and staff to follow the 
    a(href='http://jsconf.com/codeofconduct.html') JSConf Code of Conduct
    | . We take our Code of Conduct very seriously and it will be enforced by organizers during any Boston JS event and within any Boston JS online community.
  p
    | If at any point you need help, or to report a Code of Conduct violation, please contact an organizer or send a direct message to 
    a(href='https://twitter.com/bos_js') @bos_js
    | .
