header.sitehead
  .wrap
    h1.logo
      a(href='/')
        img(src='/img/logo.png', alt='Boston JS')
    nav.primary
      a(href='/events/') Past Events
      a(href='http://jsconf.com/codeofconduct.html') Code of Conduct
      a(href='https://bostonjavascript.slack.com/join/shared_invite/enQtMjQyNzkwNDM4OTYyLTU3MTExMzI0YTYwZWU3M2UyMWJjNGMxZGEwOTVlYWNhODM1NWE4MGY3MDkxMGE1YzIwMDc1NTFmMzJlMTEzNDI') Slack Community
      a(href='http://www.meetup.com/boston_JS/', target='_blank') meetup.com

