section#register
  .container
    h1 Register
    | <tito-widget event="bocoup/roost-txjs-2015">
    |   <ul id="tito-tito-bocoup-roost-txjs-2015-1-releases" class="tito-ticket-list">
    |     <li class="tito-ticket">
    |       <label class="tito-ticket-name" for="tito-ticket-ea7811edwmi">
    |         Checking for available tickets...
    |       </label>
    |     </li>
    |   </ul>
    | </tito-widget>
    div.policy
        p If you experience any trouble purchasing tickets, please try purchasing them at our <a href="https://ti.to/bocoup/roost-txjs-2015">dedicated checkout page</a> or <a href="mailto:roost@bocoup.com">get in touch</a> for assistance.
        p All tickets are non-refundable, but are transferable until the day of the conference. You can transfer the ticket directly using the link you receive when you purchased it, or <a href="mailto:roost@bocoup.com">contact us</a> for help.
