- console.log(meetup);
.rsvp.paul
  h2.rsvp-hed
    | The British Are Coming!
    br
    | Are You?
  if meetup
    a.btn.call(href=meetup.event_url) RSVP
  else
    a.btn.call(href='http://meetup.com/boston_js') RSVP
  p
    | Any collected proceeds go to:
  a(href='http://scienceclubforgirls.org/', target='blank').proceeds-to
    img(src='/img/scfg.jpg', alt='Science Club for Girls Logo')
