.rsvp.paul
  h2.rsvp-hed
    | The British Are Coming!
    br
    | Are You?
  a.btn.call(href='#') RSVP $5
  p
    | All proceeds go to:
  a(href='http://scienceclubforgirls.org/', target='blank').proceeds-to
    img(src='/img/scfg.jpg', alt='Science Club for Girls Logo')