.sponsors
  h2.title-hed Sponsors
  .logos
    img(src='/img/bocoup.png', alt='Bocoup logo')
  small.sponsor-call
    | Interested in sponsoring one of our meetups?
    | Sponsorship is $500 and includes two minutes at the beginning of the meetup to get up and tell the group about your product/team/company, as well as the opportunity to give away some swag and two RSVPs for the meetup.
    | It also helps us work toward our goal of supporting the growth of technology education in underserved communities. 
    | #[a(href="mailto:bostonjs@bocoup.com") Get in touch with us] to get involved!

