  <div class="feat">
    <div class="eventhead">
      <h2 class="event">
        <span class="meta">Boston.JS Number <b class="num">108</b></span>
        TC-39 Panel Deux
      </h2>
      <p class="speaker">Presented by Muscles McTouchdown</p>
    </div>
    <p>TC-39 at ECMA (the group that ultimately decides on changes to the JavaScript language)&nbsp;is having their fall meeting in Boston again this year. While they are here, <a href="https://twitter.com/awbjs">Allen Wirfs-Brock</a>, <a href="https://twitter.com/BrendanEich">Brendan Eich</a>,&nbsp;<a href="https://twitter.com/domenic">Domenic Denicola</a>&nbsp;and&nbsp;<a href="http://en.wikipedia.org/wiki/Mark_S._Miller">Mark S. Miller</a>&nbsp;of TC-39 have agreed to participate in a panel discussion moderated by <a href="https://twitter.com/rwaldron">Rick Waldron</a>, also of TC-39.</p> <p>After introductions and a brief discussion of the panelists' work on ECMAScript, Rick will take questions from the audience.</p>
    <p>RSVP now and submit your questions before or during the event using the&nbsp;<a href="https://www.google.com/moderator/#16/e=211cdc">Google moderator for the event</a>.</p>
    <p>Due to limited space, we will be broadcasting and recording the event through google hangouts:&nbsp;<a href="https://plus.google.com/b/101066175187812737186/events/cc3vd9adr7cpse9jrq5mpnfen34" class="linkified">https://plus.google.com/b/101066175187812737186/events/cc3vd9adr7cpse9jrq5mpnfen34</a></p>
  </div>

  <div class="sponsors">
    <h2 class="sponsor-hed">Sponsors</h2>

    <div class="logos">
      <img src="img/bocoup.png" alt="Bocoup logo">
    </div>
    <small class="sponsor-call">Interested in <a href="#">sponsoring an event</a>?</small>
  </div>
</div>

