<div class="past-events">

  {{debug events}}
  {{#withSort events "date_start" dir="desc"}}
    {{> meetupHeader }}
    <ul>
    {{#each calls.0.submissions}}
      <li class="speaker">{{ title }}, presented by {{ name }}</p>
    {{/each }}
  </ul>
  {{/withSort}}
</div>
