<div class="past-events">
  {{#withSort events "date_start" dir="desc"}}
    <h2 class="event">
      {{> meetupDate }}
      <a href="/events/{{ id }}">{{ name }}</a>
    </h2>

    <ul>
    {{#each calls.0.submissions}}
      <li class="speaker">{{ title }}, presented by {{ name }}</p>
    {{/each }}
  </ul>
  {{/withSort}}
</div>
