<div class="past-events">
  {{#each index}}
    <h2 class="event">
      <span class="meta">#<b class="num">108</b></span>
      <a href="/events/{{ id }}">{{ name }}</a>
    </h2>
    <p class="speaker">Presented by Muscles McTouchdown</p>
  {{/each}}
</div>